/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */


header {
	margin-bottom: 50px;
	/*border: 1px solid green;*/
	position: relative;
	height: 40px;
}
header nav {
	display: inline;
	height: 100%;
}
header nav a {
	color: gray;
	font-size: 11px;
	padding: 5px 40px;
	text-decoration: none;
}

header img {
	margin-left: 20px;
	position: absolute;
	right: 0px;
	top: 0px;
}

img {
	display: inline;
}
section {
	display: inline;
	width: 100%;
}

.container {
	/*border: 5px solid purple;*/
	width: 950px;
	margin: 0 auto;
	padding: 20px;
	position: relative;
}

.top-section {
	display: inline-block;
	/*border: 5px solid blue;*/
	width: 100%;
	padding: 0 20px;
	position: relative;
	height: 400px;
}


.top-section-div {
	position: relative;
}

.main-content {
	/*border: 5px solid red;*/
	display: inline-block;

}

.main-content .two-column {
	width: 100%;
}

.top-section h1{
	font-size: 80px;
	/*border: 1px solid gray;*/
	display: inline-block;
	margin-top: 80px;
	position: absolute;
	margin-left: 20px;
	text-align: center;
	
}

.top-section img {
	/*border: 1px solid black;*/
	display: inline-block;
	position: absolute;
	right: -20px;
}

.top-section button {
	width: 160px;
	height: 25px;
	position: absolute;
	left: 107px;
	top: 340px;
	font-size: 16px;
	background: white;
	
	border: 1px solid black;
}

.two-column section {
	width: 48%;
	display: inline-block;
	margin: 10px 0px 20px 0;
	/*border: 1px solid purple;*/
}

.left {
	margin-right: 10px;
}

.right {
	position: absolute;
	right: 0px;
}

.center {
	position: absolute;
	left: 40px;
	width: 31%;

}

.main-content img {
	width: 100%;
	height: auto;
}



.three-column section {
	width: 31%;
	display: inline-block;
	/*border: 1px solid green;*/
	margin: 20px 0;
	position: relative;
}

.three-column .right {
	position: absolute;
	right: 0px;
}
footer p {
	margin-top: 10px;
}
footer p:last-of-type {
	text-align: center;
	font-size: 10px;
	/*border: 1px solid black;*/
	color: rgb(156, 156, 156);
}
